.ipynb-checkpoints
dsesm/data
python_basics_tutorial/data
*.geojson
*.nc
*.tiff
*.tif
*.html
*.png
dsesm/tmp/
dsesm/_build/
dsesm/*.csv
python_basics_tutorial/tmp/
python_basics_tutorial/_build/
python_basics_tutorial/tmp.csv
*cleared.ipynb
data

# MyST build outputs
_build
