.ipynb-checkpoints
dsesm/data
python_basics_tutorial/data
data-science-for-esm/data
open-tyndp-workshops/data
*.geojson
*.nc
*.tiff
*.tif
*.html
*.png
dsesm/tmp/
dsesm/_build/
dsesm/*.csv
python_basics_tutorial/tmp/
python_basics_tutorial/_build/
python_basics_tutorial/tmp.csv
data-science-for-esm/tmp/
data-science-for-esm/_build/
data-science-for-esm/tmp.csv
open-tyndp-workshops/tmp/
open-tyndp-workshops/_build/
open-tyndp-workshops/tmp.csv
*cleared.ipynb
data

# MyST build outputs
_build
