.ipynb-checkpoints
pypsa-zambia-workshops/data
.idea
*.geojson
*.nc
*.tiff
*.tif
*.html
*.png
*.svg
pypsa-zambia-workshops/tmp/
pypsa-zambia-workshops/_build/
pypsa-zambia-workshops/tmp.csv
*cleared.ipynb
.snakemake/
CLAUDE.md
